* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #f7eec7 0%, #ebd9b4 50%, #dcc29e 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #4e3822;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 45px;
}

nav {
  margin-right: 10%;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 14px;
  transition: color 0.3s;
}

ul li:hover a {
  color: #fff7d2;
}

ul li:before {
  content: " ";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  background-color: #fff7d2;
  scale: 0 1;
  transition: scale 0.3s ease;
}

ul li:hover:before {
  scale: 1;
}

.content {
  min-height: calc(130vh - 200px);
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/pics/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h1 {
  font-size: 4.5rem;
  font-weight: 800;
  color: #a05a19;
  line-height: 1.2;
  font-family: "Montserrat";
}

.text p {
  font-size: 1.5rem;
  color: black;
  margin: 0;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons a {
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  background-color: #7a3e11;
}

.buttons a:first-child {
  background-color: #a05a19;
  color: #7a3e11;
}

.buttons a:first-child:hover {
  background-color: #7a3e11;
  color: #7a3e11;
}

.buttons a:last-child {
  background-color: a05a19;
  color: white;
  border: 2px solid #a05a19;
}

.buttons a:last-child:hover {
  background-color: #eeeeee;
  color: #7a3e11;
}

.customer {
  background-color: #fffbf0;
  padding: 80px;
  color: white;
  min-height: calc(130vh - 200px);
}

.customer h2 {
  font-weight: 800;
  color: #a05a19;
  margin-bottom: 30px;
  font-family: "Montserrat";
  text-align: center;
}

.customer p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #a05a19;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  text-align: center;
  background-color: #4e3822;
  font-size: 14px;
}

.footer .logo2 img {
  height: 40px;
  margin-bottom: 15px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: color 0.3s;
  margin: 0 5px;
}

.footer a:hover {
  color: #cccccc;
}

.footer p {
  padding: 20px 0 0 0;
  color: rgba(255, 255, 255, 0.24);
  margin: 0;
}

.socials {
  margin-top: 10px;
}

.socials i {
  color: white;
  margin: 0 10px;
  font-size: 30px;
  transition: color 1.5s ease;
  cursor: pointer;
}

.socials i:hover {
  transform: scale(1.1);
}

.customers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
  padding: 20px;
}

.customers img {
  width: 200px;
  height: 500px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.customers img:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}


@media (max-width: 768px) {
  .customers img {
    width: 90%;
    height: auto;
  }
}