* {
  margin: 0px;
}

body {
  background-color: #fff7d2;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #4E3822;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.logo img {
  height: 45px;
  padding-top: 10px;
}


.nav-links {
  display: flex;
  gap: 25px;
  padding-top: 20px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  transition: color 0.3s;
}

.container a:hover {
  color: #000;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: #4E3822;
  font-size: 14px;

}

img {
  padding: 0px;
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.logo {
  height: 50px;
}

.footer a:hover {
  color: #000;
}

p {
  padding: 35px;
  color: white;
}

.logo2 img {
  height: 45px;
  padding-top: 10px;
}