  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #fff7d2;
            font-family: 'Poppins', sans-serif;
        }

        .container {
            background-color: #4E3822;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

        .logo img {
            height: 45px;
        }

        nav{
            margin-right: 10%;
        }
        ul {
            display: flex;
            list-style-type: none;
            gap: 10px;
            margin: 0;
            padding: 0;
        }

        ul li {
            padding: 0 0.5em 0.25em;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: 0.3s;
        }

        ul li a {
            text-decoration: none;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            font-size: 14px;
            transition: color 0.3s;
        }

        ul li:hover a {
            color: white;
        }

        ul li:before {
            content: " ";
            position: absolute;
            inset: calc(100% - 3px) 0 0 0;
            background-color: #fff7d2;
            scale: 0 1;
            transition: scale 0.3s ease;
        }

        ul li:hover:before {
            scale: 1;
        }

       
        .content {
            min-height: calc(100vh - 200px);
            padding: 20px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 30px 20px;
            text-align: center;
            background-color: #4E3822;
            font-size: 14px;
        }

        .footer .logo2 img {
            height: 40px;
            margin-bottom: 15px;
        }

        .footer a {
            text-decoration: none;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            transition: color 0.3s;
            margin: 0 5px;
        }

        .footer a:hover {
            color: #cccccc;
        }

        .footer p {
            padding: 20px 0 0 0;
            color: rgba(255, 255, 255, 0.24);
            margin: 0;
        }
        .socials {
            margin-top: 10px;
        }
        .socials i {
            color: white;
            margin: 0 10px;
            font-size: 30px;
            transition: color 1.5s ease;
            cursor: pointer;
        }
        .socials i:hover {
            transform: scale(1.1);
        }