* {
    margin: 0px;
}

.container {
    background-color: rgb(223, 213, 213);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 20px;

}