* {
    margin: 0px;
}

body {
    background-color: #fff7d2;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #4E3822;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 20px;

}

.container a:hover {
    color: rgb(0, 0, 0);

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4E3822;
}

img {
    padding: 0px;
    height: 50px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}